<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="10019" id="br.com.mondelez.plus" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mondelez Plus</name>
    <description>Gerenciador de pontos e resgates</description>
    <author email="contato@cits.br" href="http://www.cits.br/">Centro Internacional de Tecnologia de Software</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <config-file parent="NSCameraUsageDescription" platform="ios" target="*-Info.plist">
        <string>You can take photos</string>
    </config-file>
    <config-file parent="NSPhotoLibraryUsageDescription" platform="ios" target="*-Info.plist">
        <string>Need photo library access to get pictures from there</string>
    </config-file>
    <allow-navigation href="http://localhost:8101" sessionid="811b1a40" />
    <preference name="WKWebViewOnly" value="true" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
</widget>
